
* {
	box-sizing: border-box;
}

h1.title{

	text-align: center;
	font-family: serif;
}


#sub-header1{
  background-color: pink;
  border-left: 2px solid black;
  border-bottom:  2px solid black;
  width: 35%;
  float: right;
  height: 5%;
  box-sizing: border-box;
  clear: both;
}

#sub-header2{
  background-color: #C14543;
  border-left: 2px solid black;
  border-bottom:  2px solid black;
  width: 35%;
  float: right;
  height: 5%;
  box-sizing: border-box;
  clear: both;
}

#sub-header3{
  background-color: #E5D198;
  border-left: 2px solid black;
  border-bottom:  2px solid black;
  width: 35%;
  float: right;
  height: 5%;
  box-sizing: border-box;
  clear: both;
}

p{
	 display: inline-flex;
	 padding-left: 2%;
  	 padding-right: 2%;
  	 padding-bottom: 2%;
	
}

h3{
	text-align: center;
}

@media (min-width: 992px){

	 .col-lg-1, .col-lg-2, .col-lg-3 {

	 	 background-color: white;
  		 border: 2px solid black;
  		 float: left;
  		 margin-top: 20px;
  		 margin-left: 3%;
  		 width: 30%;
  		 height: 20%;
  		 overflow: auto;
  		 box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 991px){
	
	.col-md-1, .col-md-2, .col-md-3 {

		 background-color: white;
  		 border: 2px solid black;
  		 float: left;
  		 margin-left: 3%;
  		 overflow: auto;
  		 box-sizing: border-box;
	}

	.col-md-1{
		width: 40%
	}

	.col-md-2{
		width: 40%
	}

	.col-md-3{
		width: 90%
	}

}


@media (max-width: 767px){

.col-s-1, .col-s-2, .col-s-3 {

		 background-color: white;
  		 border: 2px solid black;
  		 float: left;
  		 margin-left: 3%;
  		 overflow: auto;
  		 box-sizing: border-box;
	}

	.col-s-1{
		width: 90%
	}

	.col-s-2{
		width: 90%
	}

	.col-s-3{
		width: 90%
	}

}

/*
#box {
  background-color: white;
  border: 2px solid black;
  width: 30%;
  float: left;
  height: 20%;
  margin-top: 20px;
  margin-left: 3%;
  overflow: auto;
  box-sizing: border-box;

}
bleed it out 
numb
*/

}
